name: Release Library
on:
  workflow_call:
    secrets:
      WORKFLOW_ACTION_TOKEN:
        required: true
      MONITORING_SLACK_WEBHOOK_URL:
        required: false
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.WORKFLOW_ACTION_TOKEN }}
      - uses: actions/setup-node@v6
        with:
          registry-url: "https://npm.pkg.github.com"
          node-version: 24
      - name: Install Dependencies
        run: npm ci --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{ secrets.WORKFLOW_ACTION_TOKEN }}
      - name: Build
        run: npm run build
        env:
          NODE_AUTH_TOKEN: ${{ secrets.WORKFLOW_ACTION_TOKEN }}
      - name: Unit Test
        run: npm run test:ci
  publish:
    name: Publish Library
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    env:
      SLACK_WEBHOOK: ${{ secrets.MONITORING_SLACK_WEBHOOK_URL }}
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.WORKFLOW_ACTION_TOKEN }}
      - uses: actions/setup-node@v6
        with:
          registry-url: "https://npm.pkg.github.com"
          node-version: 24
      - name: "Automated Version Bump"
        uses: "phips28/gh-action-bump-version@master"
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_ACTION_TOKEN }}
        with:
          minor-wording: "MINOR,minor"
          major-wording: "MAJOR,major"
          patch-wording: "PATCH,patch"
          commit-message: "CI: bumps version to {{version}} [skip actions]"
      - name: Install Dependencies
        run: npm ci --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{secrets.WORKFLOW_ACTION_TOKEN}}
      - name: Publish
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.WORKFLOW_ACTION_TOKEN}}

      - name: Get NPM Version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@v1.3.1
      - name: Report Status
        if: env.SLACK_WEBHOOK != ''
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ env.SLACK_WEBHOOK }}
          SLACK_TITLE: Library publishing ${{ job.status }}
          SLACK_COLOR: "${{ job.status }}"
          SLACK_MESSAGE_ON_SUCCESS: |
            :white_check_mark: Library publishing of *${{ github.event.repository.name }}* successful.
            • Version: ${{steps.package-version.outputs.current-version}}
          SLACK_MESSAGE_ON_FAILURE: |
            :white_check_mark: Library publishing of *${{ github.event.repository.name }}* failed.
            • Version: ${{steps.package-version.outputs.current-version}}
          MSG_MINIMAL: true
          SLACK_FOOTER: "Link to Deployment <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }} | Go to Action>"
